# Sync bufos from S3 to the local database once an hour
0 * * * * ./bufo_sync -to-db

# Sync bufos from github to S3 once an hour (with a 30min offset to help keep resource contention down)
30 * * * * ./bufo_sync -to-s3
